<html>
<head>
    <meta charset="UTF-8"/>
    <title>米客视图</title>
    <link href="__CSS__/stylesecto.css" rel="stylesheet">

</head>
<body class="gray">
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-sm-4">
            <h5>数据分析图</h5>
        </div>

        <div class="col-sm-8">
            <div id="container">
            </div>

        </div>
    </div>
</div>


<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="__JS__/sEcto.js"></script>
<script src="__JS__/echarts.min.js"></script>
<script src="__JS__/echarts.min1.js"></script>

<script src="http://echarts.baidu.com/dist/echarts-gl.js"></script>
</body>
</html>
